@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.grid{
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    position: absolute;
}


.png{
    width: 9%;
    height: 15%;
    border: solid 1px black;

}
a{
    position: relative;
    left: 35%;
    top: 40%;
}
.ok{
    margin-top: 10%;
}
.non {
    margin-top: 0.2%
}
.all{
    z-index: 1;
    position: absolute;
}
.oneOne{
    left: 35.3%;
    top: 1%;
}
.twoOne{
    left: 44.5%;
    top: 1%;
}
.threeOne{
    left: 53.7%;
    top: 1%;
}
.oneTwo{
    left: 35.3%;
    top: 35%;
}
.twoTwo{
    left: 44.5%;
    top: 35%;
}
.threeTwo{
    left: 53.7%;
    top: 35%;
}
.oneThree{
    left: 35.3%;
    top: 68.5%;
}
.twoThree{
    left: 44.5%;
    top: 68.5%;
}
.threeThree{
    left: 53.7%;
    top: 68.5%;
}
